.body {
  font-family: 'Archivo Black', sans-serif;
  font-family: 'Vollkorn', serif;
  font-family: 'Krona One', sans-serif;
  font-family: 'Nunito', sans-serif;
}

/* Styling for App.js */
.App {
  text-align: center;
}
.title {
  font-family: 'Krona One', sans-serif;
}

/* Styling for GameLogic.js */
.Board {
  position: relative;
  margin: 0 auto;
  background: teal;
  background-image: 
    linear-gradient(#333 1px, transparent 1px), 
    linear-gradient(90deg, #333 1px, transparent 1px);
}
.Cell {
  background: pink;
  /* background-image: linear-gradient(pink, yellow); */
  position: absolute !important;
}
.Cell:hover{
  background: gold;
}
.button-container {
  width: 80%;
}
.button {
  padding: 5px 15px;
  margin: 5px;
  border-radius: 8px;
  background: rgb(48, 179, 189);
  font-family: 'Nunito', sans-serif;
}
.button:hover {
  background: pink;
}

/* Styling for Rules.js */
.rules-container {
  margin: 0 60px;
}
.rules-title {
  font-family: 'Krona One', sans-serif;
  font-size: 1.7rem;
  text-decoration: underline;
}
.rules {
  font-family: 'Nunito', sans-serif; 
  line-height: 2rem;
  font-size: 1.2rem; 
}
.about-link {
  margin-top: 20px;
  font-family: 'Nunito', sans-serif; 
  font-size: 1.2rem; 
}

/* Styling for About.js */
.about {
  font-family: 'Vollkorn', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
  margin: 0 250px;
}
.about-title {
  font-family: 'Krona One', sans-serif;
  text-decoration: underline;
  border: 1px solid grey;
  border-radius: 10px;
  background: teal;
  opacity: 0.8;
  color: white;
  width: 100%;
  padding: 10px 0;
}
.about-conway {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
}
.game-link {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

